In [ ]:
#import wget
import numpy as np
import pandas as pd

## QUestion 1

In [8]:
print(np.__version__)
print(pd.__version__)

1.18.1
0.25.3

## Question 2

In [5]:

data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 3

In [7]:
bmw_mean = data[data['Make'] == 'BMW']['MSRP'].mean()
bmw_mean

61546.76347305389

## Question 4

In [12]:
num_null = data[data['Year'] >= 2015]['Engine HP'].isna().sum()
num_null

51

## Question 5

In [14]:
hp_mean = round(data['Engine HP'].mean())
hp_mean

249.0

In [17]:
data['Engine HP'].fillna(value = hp_mean, inplace = True)

In [18]:
data['Engine HP'].isna().sum()

0

In [19]:
hp_mean_after = round(data['Engine HP'].mean())
hp_mean_after

249.0

## Question 6

In [20]:
rolls = data[data['Make'] == 'Rolls-Royce'][['Engine HP', "Engine Cylinders", "highway MPG"]]
rolls.head()

      Engine HP  Engine Cylinders  highway MPG
2921      325.0               8.0           15
3505      563.0              12.0           19
5275      563.0              12.0           21
5276      563.0              12.0           21
5277      563.0              12.0           21

In [21]:
rolls.drop_duplicates(inplace= True)
rolls

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [24]:
X = rolls.values
X.shape

(7, 3)

In [34]:
XTX = X.T.dot(X)
XTX

array([[1.754801e+06, 3.965600e+04, 6.519600e+04],
       [3.965600e+04, 9.280000e+02, 1.500000e+03],
       [6.519600e+04, 1.500000e+03, 2.454000e+03]])

## Question 7

In [36]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

XTX_inv = np.linalg.inv(XTX)
z = XTX_inv.dot(X.T)

w = z.dot(y)

w[0]

0.19989598183188972

In [37]:
sum_x = XTX_inv.sum()
sum_x

0.032212320677486125